#about {
  padding: 10rem 2rem;
  color: $white;
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, .09);
  background: url('../images/dark-triangles.png');
  background-repeat: repeat;
}