#contact{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/contact-bg.jpg");
  min-height: 800px;
}

#contact h1 {
  font-size: 5rem;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.alert-primary {
  color: $primary-color;
  background-color: #d3bddf;
  border-color: #806991; }
.alert-primary hr {
  border-top-color: #806991; }
.alert-primary .alert-link {
  color: #530191; }

.form-control{
  border-color: $primary-color;
  resize: none;
}