@include media-breakpoint-down(xs) {
  .home-cover {
    .cover-image {
      height: 200px;
      .form-search-content {
        margin-top: 80px;
      }
    }
  }

}

@include media-breakpoint-up(md) {

  .home-cover {
    .cover-image {
      height: 300px;
      .form-search-content {
        margin-top: 100px;
      }
    }
  }

}

@include media-breakpoint-up(lg) {

  .home-cover {
    .cover-image {
      height: 400px;
      .form-search-content {
        margin-top: 120px;
      }
    }
  }

}

@include media-breakpoint-up(xl) {

  .home-cover {
    .cover-image {
      height: 600px;
      .form-search-content {
        margin-top: 200px;
      }
    }
  }

}

.carousel-indicators{
  bottom: 30px!important;
}
.carousel-indicators .active {
  background-color: $primary-color;
}

.carousel-indicators li {
  height: 5px!important;
  width: 40px!important;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.intro {
  margin-bottom: 0;
  background-color: $primary-color;
  color: $white;
}

//About//
.about {
  padding: 0rem;
  color: $white;
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, .09);
  background: url('../images/dark-triangles.png');
  background-repeat: repeat;
}

.profile{
  margin-top: -50px;
  margin-bottom: -50px;

}