[blogPosts blogs]
pageNumber = "{{ :page }}"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/categories"
postPage = "blog/article"

==
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-responsive text-underline text-primary">
                    {{ 'My latest new project'|_ }}
                </h2>
                {% component 'blogs' %}
            </div>
            <div class="col-12 mt-5">
                <a href="{{ 'blog/blogList'|page }}" role="button" class="btn btn-dark">
                    {{ 'View all my projects'|_ }}
                </a>
            </div>
        </div>
    </div>
</section>