<div id="header">
    <div class="container">
        <nav>
            <img src="{{ 'assets/images/etfydesign-logo-white.svg'|theme }}" title="Etfy Design Logo" style="width: 150px; height: 60px">
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#universityproject">University projects</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#interests">My interests</a></li>
                <li><a href="#contact">Contact</a></li>
                <i class="material-icons" onclick="closemenu()">close</i>
            </ul>
            <i class="material-icons" onclick="openmenu()">menu</i>
        </nav>
        <div class="header-text p-5">
            <p>Junior Developer</p>
            <h1>Welcome on my <span>Portfolio</span> page!</h1>
        </div>
    </div>
</div>