<p style="display: inline-block">
    {{'Follow me on: '|_ }}
</p>&nbsp;&nbsp;&nbsp;
{% if this.theme.facebook_url %}
<a href="{{ this.theme.facebook_url }}" target="_blank" title="Facebook" class="text-white" >
	<i class="fab fa-facebook-square fa-lg"></i>
</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if this.theme.twitter_url %}
<a href="{{ this.theme.twitter_url }}" target="_blank" title="Twitter" class="text-white" >
	<i class="fab fa-twitter fa-lg"></i>
</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if this.theme.linkedin_url %}
<a href="{{ this.theme.linkedin_url }}" target="_blank" title="LinkedIn" class="text-white" >
	<i class="fab fa-linkedin-square fa-lg"></i>
</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if this.theme.instagram_url %}
<a href="{{ this.theme.instagram_url }}" target="_blank" title="Instagram" class="text-white" >
	<i class="fab fa-instagram fa-lg"></i>
</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if this.theme.pinterest_url %}
<a href="{{ this.theme.pinterest_url }}" target="_blank" title="Pinterest" class="text-white" >
	<i class="fab fa-pinterest fa-lg"></i>
</a>&nbsp;&nbsp;&nbsp;
{% endif %}
{% if this.theme.deviantart_url %}
<a href="{{ this.theme.deviantart_url }}" target="_blank" title="Pinterest" class="text-white" >
	<i class="fab fa-deviantart fa-lg"></i>
</a>&nbsp;&nbsp;&nbsp;
{% endif %}