<div class="container">
    <div class="rowinterests">
        <div class="interests-col-1">
            <h1 class="sub-title-interests">{{ 'My interests'|_ }}</h1>
            {% content 'interests/part1' %}
            {% content 'interests/part2' %}
        </div>
        <div class="interests-col-2">
            <div class="slider-container slider-1">
                <div class="slider-cosplay">
                    <img src="{{ 'assets/images/dev/cosplay/overwatch_20171014_0005.jpg'|theme }}">
                    <img src="{{ 'assets/images/dev/cosplay/Sword-art_007.jpg'|theme }}">
                    <img src="{{ 'assets/images/dev/cosplay/ONE_6457.jpg'|theme }}">
                    <img src="{{ 'assets/images/dev/cosplay/Aion_003.jpg'|theme }}">
                    <img src="{{ 'assets/images/dev/cosplay/estelle_20160930_0001.jpg'|theme }}">
                    <img src="{{ 'assets/images/dev/cosplay//overwatch_20171014_0005.jpg'|theme }}">    
                </div>
            </div>
        </div>
    </div>
</div>