<div class="container">
    <h1 class="sub-title">{{ 'University projects'|_ }}</h1>
    <div class="project-list">
        <div class="project">
            <img src="{{ 'assets/images/dev/gestionnaire-de-personnelle-clsc.png'|theme }}">
            <div class="layer">
                <h3>{{ 'C++ project: CLSC employes and patients manager system'|_ }}</h3>
                <p>{{ 'This is the final project for the C++ course that was created in less than 5 days (deadline).'|_ }}</p>
            </div>
        </div>
        <div class="project">
            <img src="{{ 'assets/images/dev/televenement.png'|theme }}">
            <div class="layer">
                <h3>{{ 'HMI project: RSS feed manager system'|_ }}</h3>
                <p>{{ 'This is the final project for Human-machine interface course.  This software was using Teluq RSS feed as an example.'|_ }}</p>
            </div>
        </div>
        <div class="project">
            <img src="{{ 'assets/images/dev/gymargente.png'|theme }}">
            <div class="layer">
                <h3>{{ 'Integration project: Clients and employes manager system for a gym'|_ }}</h3>
                <p>{{ 'Final project (certificate): 75 hours deadline including 20h sofware engineering, HMI development and MySQL database.'|_ }}</p>
            </div>
        </div>
    </div>
</div>

<div class="slider-container-projet">
    <div class="slider" >
        <div class="slide">
            <img src="{{ 'assets/images/dev/gestionnaire-de-personnelle-clsc.png'|theme }}">
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-clsc/gestionnaire_clsc_option_1.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-clsc/gestionnaire_clsc_option_2.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-clsc/gestionnaire_clsc_option_3.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-clsc/gestionnaire_clsc_option_4.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-clsc/gestionnaire_clsc_option_5.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-clsc/gestionnaire_clsc_option_0.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/televenement.png'|theme }}">
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev//photos-televenement/tel_evenement_consultation.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_consultation_evenement.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_ajouter.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_modifier.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_modifier_evenement.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_supprimer.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_supprimer_evenement.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_enregistrer.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-televenement/tel_evenement_enregistrer_xml.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/gymargente.png'|theme }}">
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_authentification.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_client.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_client_ajout.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_option_adhesion.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_option_adhesion_consulter.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_plan.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_plan_supprimer.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_rendez_vous.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/gym_argente_rendez_vous_modifier.png'|theme }}"/>
        </div>
        <div class="slide">
            <img src="{{ 'assets/images/dev/photos-gymargente/page_administrateur.png'|theme }}"/>
        </div>
        <button class="btn btn-prev"><</button>
        <button class="btn btn-next">></button>
        
    </div>
</div>