<div class="container">
    <h1 class="sub-title">Work</h1>
    <div class="work-list">
        <div class="work-project">
            <img src="{{ 'assets/images/dev/addedstylingfornodesatrootworkspace.png'|theme }}">
            <h2>Theia project: Explorer, added styling for nodes at root of workspace</h2>
            <p>Fixed the issue of the root node that was at the same level than the child node.  This correction making it easier to differentiate items in the tree.</p>
            <a href="https://github.com/EstFoisy/theia/pull/11">see more</a>
        </div>
        <div class="work-project">
            <img src="{{ 'assets/images/dev/scrollbarsizesettinginpreferenceimplemented.png'|theme }}">
            <h2>Theia project: Scrollbar size settings in preference implemented</h2>
            <p>Fixed issue with scroll bars. When the horizontal and vertical scrollbar sizes are adjusted in setting, it should reflect on the scrollbar height in the editor.</p>
            <a href="https://github.com/EstFoisy/theia/pull/6">see more</a>
        </div>
        <div class="work-project">
            <img src="{{ 'assets/images/dev/gerrit.jpg'|theme }}">
            <h2>Trace Compass project: adding import/export JSON to incubator in and out configure window </h2>
            <p>Add buttons/functions to save and open JSON files for the in and out configure window.</p>
            <a href="https://git.eclipse.org/r/c/tracecompass.incubator/org.eclipse.tracecompass.incubator/+/199565 ">see more</a>
        </div>
    </div>
</div>