{% set post = __SELF__.post %}

<div class="row">
    <div class="col-12">
                {% if post.featured_images.count %}
                <div class="featured-images text-center mt-4">
                    <img class="img-fluid"
                             data-src="{{ post.featured_images.0.filename }}"
                             src="{{ post.featured_images.0.path }}"
                             alt="{{ post.featured_images.0.description }}"/>

                    </div>
                {% endif %}
            </div>
    <div class="col-12 mt-4">
                {{ post.content_html|raw }}
    </div>


            {% if post.featured_images.count %}
                {% for image in post.featured_images %}
                    {% if loop.index != 1 %}
                        <div class="col-sm-3 text-center">
                            <img
                                    class="img-fluid"
                                    data-src="{{ image.filename }}"
                                    src="{{ image.path }}"
                                    alt="{{ image.description }}">
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

</div>




