<div id="carousel-{{ __SELF__.id }}" class="carousel slide" data-ride="carousel">
  {% if __SELF__.carousel.images|length > 1 %}
  <ol class="carousel-indicators">
    {% for i, image in __SELF__.carousel.images %}
    <li data-target="#carousel-{{ __SELF__.id }}" data-slide-to="{{ loop.index - 1 }}"{% if loop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if __SELF__.carousel.images|length > 0 %}
  <div class="carousel-inner" role="listbox">
    {% for i, image in __SELF__.carousel.images %}
    <div class="carousel-item {% if loop.first %} active {% endif %}">
      <img class="d-block img-fluid" src="{{ image.path }}" alt="{{ image.title }}" >
      {# Show caption only if there is image title or description #}
      {% if image.title or image.description %}
      <div class="carousel-caption p-5">

        {% if image.title %}<h2 class="h2-responsive text-shadow" style="font-size: 70px">{{ image.title }}</h2>{% endif %}

        {% if image.description %}<h3 class="h3-responsive text-shadow">{{ image.description }}</h3>{% endif %}

      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
